In [104]:
import json
import boto3
import pandas as pd

client = boto3.client("sagemaker-runtime")

df = pd.read_csv("synthetic_data.csv")
# Convert DataFrame to a list of dictionaries
realtime_data = df.iloc[:2, :].to_dict(orient="records")

# Convert to JSON
json_data = json.dumps(realtime_data)

response = client.invoke_endpoint(
    EndpointName="prophet-endpoint",
    ContentType="application/json",
    Body=json.dumps(json_data),
)

response = response["Body"].read().decode()
# Clean the JSON string by removing extra escape characters
cleaned_response = response.replace('\\"', '"').strip('"\n')

In [107]:
# Convert to DataFrame
prediction_df = pd.DataFrame(json.loads(cleaned_response))
prediction_df

              ds        yhat  yhat_lower  yhat_upper
0  1672531200000  103.320066  100.777555  105.879221
1  1672617600000  103.219479  100.583058  105.645205